
@{
    Layout = "_Layout";
    ViewData["Title"] = "College Course Handler";
}

<main role="main">
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">College Registration</h1>
            <p class="lead text-muted">
                The online registration system to build your registration.<br />
                You will build your timetable by selecting courses required by your program during the web registration period.
            </p>
            <p>
                <a class="btn btn-primary my-2" asp-action="InsertPage">Register Now!</a>
            </p>
        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img class="card-img-top" src="~/images/Centennial.PNG"  alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Centennial College is best choice for your life</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img class="card-img-top" src="~/images/Centennial_A.PNG" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Student and Employer Satisfaction in the GTA in 2017</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img class="card-img-top" src="~/images/Centennial_image.PNG" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">
                                Full-time students, including 11,000 international and 1,300 apprenticeship

                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


