
@{
    Layout = "_Layout";
    ViewData["Title"] = "College Course Handler";
}

<div id="maincontent">
    <h1>How to register for your courses</h1>
    <p>
        The online registration system to build your registration.<br />
        You will build your timetable by selecting courses required by your program during the web registration period.
        <hr />
        (Please note that for some programs you will be pre-assigned to a block of courses.)
    </p>

    <div class="row">
        <h3><a class="aspbutton" asp-action="InsertPage">Register Now!</a></h3>
    </div>
</div>

<div id="sidecontent">
    <img src="~/images/Logo.PNG" width="200" />
    <img src="~/images/Centennial.PNG" width="200" />
    <img src="~/images/CentennialPlace.PNG" width="200" />
    <img src="~/images/Centennial_A.PNG" width="200" />
    <img src="~/images/Centennial_image.PNG" width="200" />
</div>
