
@{
    Layout = "_Layout";
    ViewData["Title"] = "Register New Course";
}


<div id="sidecontent">
    <img src="~/images/Logo.PNG" width="200" />
</div>
<div id="maincontent">
    @Html.Partial("Insertform")
      <br />
    <hr>
    <table style="width:100%">
        <tr>
            <th>Courses</th>
            <th>Professor</th>
            <th>About Courses</th>
        </tr>
        <tr>
            <td>Advanced Database Concepts - COMP 214</td>
            <td>Vijayalakshmi Tiruchengode Angamuthu</td>
            <td>This course is intended to expand student's knowledge of business database systems
            <td>
        </tr>
        <tr>
            <td>Java Programming - COMP 228</td>
            <td>Elmira Adeeb</td>
            <td>Building on fundamentals of Object-Oriented programming, this course covers Component-based Application Development and Database Connectivity using the Java programming language. </td>
        </tr>
        <tr>
            <td>Web Application Development - COMP 229</td>
            <td>Jake Nesovic </td>
            <td>Web Application Development is the second course in a sequence of courses, following COMP213 and COMP 125 and preceding a range of advanced elective Web applications and Web services courses, designed to teach students all the important current concepts and technologies related to developing powerful Internet enterprise applications. </td>
        </tr>
    </table>
    <hr />
</div>
