@{
    ViewBag.Title = "Student Home";
    ViewBag.Active = "Home";
}

<main role="main">
    <div class="container">
        <div class="title-header">
            <h1>WHO WE ARE</h1>
            <br>
            <h5>
                Learn for a living. In your field. Your community.
                Anywhere, we’ll help you get there. With accredited programs, pioneering research projects, and partnerships that offer semesters or placements abroad.
            </h5>
        </div>
    </div>
    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img class="card-img-top" src="~/images/index/Centennial.jpg" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Centennial College is the best choice for your life</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img class="card-img-top" src="~/images/index/Logo.PNG" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Student and Employer Satisfaction in the GTA in 2017</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img class="card-img-top" src="~/images/index/Centennial1.PNG" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Full-time students, including 11,000 international and 1,300 apprenticeship</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


