@model UserModel
@{
    Layout = "_FacultyLayout";
    ViewBag.Title = "Register";
}
<div class="title-header">
    <h2>Register</h2>
</div>

<div class="content-container">
    <div class="content-section">
        <input type="hidden" name="csrfmiddlewaretoken" value="EyyVD25SUWDskvBxncJ4x6gqYPg0P86Ubnn3Iqjy6Sd1LPcQyqOHCXxmxrDiPujl">
        <form asp-action="Create" asp-route-area="Admin" asp-controller="Account" method="post" novalidate>
            <div class="col-lg-12" asp-validation-summary="All" style="color:red;margin-top:20px;padding-left:0;"></div>
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Join Today</legend>
                <input type="hidden" asp-for="Role" />
                <div id="div_id_username" class="form-group">
                    <label for="id_username" class="col-form-label  requiredField">
                        First Name<span class="asteriskField">*</span>
                    </label>
                    <div class=""> <input asp-for="FirstName" type="text" autofocus="" class="textinput textInput form-control" id="id_username" placeholder="First Name" required> </div>
                </div>
                <div id="div_id_username" class="form-group">
                    <label for="id_username" class="col-form-label  requiredField">
                        Last Name<span class="asteriskField">*</span>
                    </label>
                    <div class=""> <input asp-for="LastName" type="text" autofocus="" class="textinput textInput form-control" id="id_username" placeholder="Last Name" required> </div>
                </div>
                <div id="div_id_username" class="form-group">
                    <label for="id_username" class="col-form-label  requiredField">
                        User Name<span class="asteriskField">*</span>
                    </label>
                    <div class=""> <input asp-for="UserName" type="text" autofocus="" class="textinput textInput form-control" id="id_username" placeholder="User Name" required> </div>
                </div>
                <div id="div_id_password" class="form-group">
                    <label asp-for="Password" class="col-form-label  requiredField">
                        Password<span class="asteriskField">*</span>
                    </label> <div class=""> <input asp-for="Password" type="password" name="password" class="textinput textInput form-control" id="id_password" required> </div>
                </div>
            </fieldset>
            <br />
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Sign Up</button>
            </div>
        </form>
    </div>
</div>
