@model LoginModel
@{
    Layout = "_FacultyLayout";
}
<div class="title-header">
    <h2>Sign In</h2>
</div>
<div class="content-container">
    <div class="content-section">
        <div class="text-danger" asp-validation-summary="All"></div>
        <form asp-action="Login" method="post">
            <input type="hidden" name="returnURL" value="@ViewBag.returnURL" />
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Log In</legend>
                <div id="div_id_username" class="form-group">
                    <label asp-for="UserName" class="col-form-label  requiredField">Username<span class="asteriskField">*</span></label>
                    <div class=""> <input asp-for="UserName" type="text" name="username" autofocus="" class="textinput textInput form-control" id="id_username"> </div>
                </div>
                <div id="div_id_password" class="form-group">
                    <label asp-for="Password" class="col-form-label  requiredField">
                        Password<span class="asteriskField">*</span>
                    </label> <div class=""> <input asp-for="Password" type="password" name="password" class="textinput textInput form-control" required="" id="id_password"> </div>
                </div>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Login</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Need An Account? <a class="ml-2" href="/register/">Sign Up Now</a>
                Forgot Your Password? <a class="ml-2" href="/register/">Recover</a>
            </small>
        </div>
    </div>
</div>

