@model EnrollmentList
<form asp-action="Manage" method="post">
    <div class="form-group row" id="enrollForm">
        <input type="hidden" asp-for="CourseID" value="@Model.CourseID" />
    </div>
    <button type="submit" class="btn btn-primary mb-3">Add Student(s)</button>
</form>