
@{
    Layout = "_Layout";
    ViewData["Title"] = "Data for Fall Semester";

}

<div id="sidecontent">
    <img src="~/images/Centennial_image.PNG" width="200" />
</div>

<div id="maincontent">

    <h3>Data for Fall Semester</h3>
    <hr>
    <table style="width:100%">
        <tr>
            <th style="width: 25%">Number</th>
            <th style="width: 25%">Enrolment Courses</th>
            <th style="width: 25%">Enrolment Studnet number</th>
            <th style="width: 25%">Etc</th>
            </table>
    <hr />
    <table style="width:100%">
        <tr>
            <td style="width: 25%">1</td>
            <td style="width: 25%">Web Application Development</td>
            <td style="width: 25%">300948013</td>
            <td style="width: 25%">This is default!</td>
        </tr>
    </table>
    <hr>
</div>
