
@{
    Layout = "_Layout";
    ViewData["Title"] = "My Timetable";
}

<link href="~/css/Styles.css" rel="stylesheet" />

<div id="sidecontent">
    <img src="~/images/Centennial.PNG" width="200" />
</div>

<div id="maincontent">

    <h3>2018 Fall Time Table</h3>
    <hr>
    <table style="width:100%">
        <tr>
            <th style="width: 20%">Monday</th>
            <th style="width: 20%">Tuesday</th>
            <th style="width: 20%">Wednesday</th>
            <th style="width: 20%">Thursday</th>
            <th style="width: 20%">Friday</th>
        </tr>
    </table>
    <hr />
    <table style="width:100%">
        <tr>
            <td style="width: 20%"></td> 
            <td style="width: 20%"></td>
            <td style="width: 20%"></td>
            <td style="width: 20%">
                This is Default!
                Course: Web Application Development
                Professor: Jake Nesovic
                Time: 4:30pm ~ 6:20pm
            </td>
            <td style="width: 20%"></td>
        </tr>
    </table>
    <hr>
</div>

