@model LoginModel

@{
    if (Context.User.IsInRole("Admin"))
    {
        Layout = "_AdminLayout";
    }
    else if (Context.User.IsInRole("Faculty"))
    {
        Layout = "_FacultyLayout";
    }
    else if (Context.User.IsInRole("Student"))
    {
        Layout = "_StudentLayout";
    }
    else
    {
        Layout = "_GuestLayout";
    }
    ViewBag.Title = "Acccess Denied";
}

<div class="content-container">
    <div class="title-header">
        <h2>Access Denied!</h2>
        <div class="border-top pt-3">
        </div>
        <h5>You do not have clearance to access this page.</h5>
        <br>
        <small class="font-white">
            Need An Account?<a class="ml-2" href="~/Register">Sign Up Now</a>
        </small>
    </div>
</div>


