@model  string
@{
    if (Context.User.IsInRole("Admin"))
    {
        Layout = "_AdminLayout";
    }
    else if (Context.User.IsInRole("Faculty"))
    {
        Layout = "_FacultyLayout";
    }
    else if (Context.User.IsInRole("Student"))
    {
        Layout = "_StudentLayout";
    }
    ViewBag.Title = "Change Password";
}

<div class="title-header">
    <h2 class="text-danger">Change Password</h2>
</div>
<div class="content-container">
    <div class="content-section">
        <div asp-validation-summary="All" class="text-danger"></div>
        <form asp-action="ChangePassword" asp-route-area="Admin" asp-controller="Account" method="post">
            <input name="id" id="id" value="@Model" type="hidden" />
            <fieldset class="form-group">
                <legend class="border-bottom mb-4 font-white">Change account password</legend>
                <div class="form-group">
                    <label name="oldPassword">Old password: </label>
                    <input type="password" id="oldPassword" name="oldPassword" class="form-control" />
                </div>
                <div class="form-group">
                    <label name="newPassword">New password: </label>
                    <input type="password" id="newPassword" name="newPassword" class="form-control" />
                </div>
            </fieldset>
            <button type="submit" class="btn btn-primary">Change Password</button>
        </form>
    </div>
</div>
