@model UserModel
@{
    ViewBag.Title = "Register an account";
    ViewBag.Active = "Register";
    Layout = "_GuestLayout";
}
<div class="title-header">
    <h2 class="text-success">Register</h2>
</div>

<div class="content-container">
    <div class="content-section">
        <input type="hidden">
        <form asp-action="Create" asp-area="Admin" asp-controller="Account" method="post">
            <fieldset class="form-group">
                <legend class="border-bottom mb-4 font-white">Create an account today</legend>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Role" />
                <div class="form-group">
                    <label asp-for="FirstName" class="col-form-label">First Name*</label>
                    <div><span asp-validation-for="FirstName" class="text-danger"></span></div>
                    <input asp-for="FirstName" type="text" class="form-control" placeholder="First Name">
                </div>
                <div class="form-group">
                    <label asp-for="LastName" class="col-form-label">Last Name*</label>
                    <div><span asp-validation-for="LastName" class="text-danger"></span></div>
                    <input asp-for="LastName" type="text" class="form-control" placeholder="Last Name">
                </div>
                <div class="form-group">
                    <label asp-for="UserName" class="col-form-label">User Name*</label>
                    <div><span asp-validation-for="UserName" class="text-danger"></span></div>
                    <input asp-for="UserName" type="text" class="form-control" placeholder="User Name">
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="col-form-label">Password*</label>
                    <div><span asp-validation-for="Password" class="text-danger"></span></div>
                    <input asp-for="Password" type="password" class="form-control">
                </div>
            </fieldset>
            <br />
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Register</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="font-white">
                Have an account?<a class="ml-2" href="~/Login">Log In</a>
            </small>
        </div>
    </div>
</div>