@{
    ViewBag.Title = "Home";
    ViewBag.Active = "Home";
}

<main role="main">
    <div class="container">
        <div class="title-header">
            <h1>Admin page</h1>
            <br>
            <h5>
                As a Super user you can handle user Accouts. (Group 1)
            </h5>
            <br>
            <small class="font-white">
                <a class="ml-2" href="~/Admin/List">List of accounts</a>
            </small>
        </div>
    </div>
    <div class="content-container">

        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <div class="card-body">
                                <p class="card-text">Frank Zhou, 301000287 </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <div class="card-body">
                                <p class="card-text">Hang Li, 300993981</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <div class="card-body">
                                <p class="card-text">Gangrae Jo, 300948013</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


