vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|05 Aug 2018 01:17:41 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|DESKTOP-QIQ8IMI\\JayJo
vti_modifiedby:SR|DESKTOP-QIQ8IMI\\JayJo
vti_timecreated:TR|05 Aug 2018 00:28:05 -0000
vti_backlinkinfo:VX|Desktop/Visual\\ Progrmming/WebDesign/Assignment6/Assignment6.html
vti_nexttolasttimemodified:TW|05 Aug 2018 01:16:46 -0000
vti_cacheddtm:TX|05 Aug 2018 01:17:41 -0000
vti_filesize:IR|379
