@model Course
<div class="form-group row">
    <input type="hidden" asp-for="CourseId" />
    <div class="col-sm-12"><span asp-validation-for="Name" class="text-danger"></span></div>
    <label class="col-sm-5 col-form-label-lg mb-sm-4" asp-for="Name">Name</label>
    <div class="col-sm-7">
        <input type="text" class="form-control" asp-for="Name" placeholder="Name" />
    </div>
    <div class="col-sm-12"><span asp-validation-for="Code" class="text-danger"></span></div>
    <label class="col-sm-5 col-form-label-lg mb-sm-4" asp-for="Code">Course Code</label>
    <div class="col-sm-7">
        <input type="text" class="form-control" asp-for="Code" placeholder="Course Code" />
    </div>
    <div class="col-sm-12"><span asp-validation-for="Season" class="text-danger"></span></div>
    <label class="col-sm-5 col-form-label-lg mb-sm-4" asp-for="Season">Season</label>
    <div class="col-sm-7">
        <select class="form-control" asp-for="Season" asp-items="@Html.GetEnumSelectList<SEASON>()"></select>
    </div>
    <div class="col-sm-12"><span asp-validation-for="MaxSize" class="text-danger"></span></div>
    <label class="col-sm-5 col-form-label-lg mb-sm-4" asp-for="MaxSize">Maximum Size</label>
    <div class="col-sm-7">
        <input type="text" class="form-control" asp-for="MaxSize" value="@(Model.MaxSize == 0 ? 30 : Model.MaxSize)" required />
    </div>
    <div class="col-sm-12"><span asp-validation-for="Faculty" class="text-danger"></span></div>
    <label class="col-sm-5 col-form-label-lg mb-sm-4" asp-for="Faculty">Faculty</label>
    <div class="col-sm-7">
        <input type="text" class="form-control" asp-for="Faculty" placeholder="Faculty" required />
    </div>
    <div class="col-sm-12"><span asp-validation-for="Description" class="text-danger"></span></div>
    <label class="col-sm-5 col-form-label-lg mb-sm-4" asp-for="Description">Description</label>
    <div class="col-sm-7">
        <textarea class="form-control" asp-for="Description" placeholder="Description of course" rows="3"></textarea>
    </div>
</div>