
@{
    Layout = "_Layout";
    ViewData["Title"] = "Registered students";

}

<div id="sidecontent">
    <img src="~/images/Centennial_image.PNG" width="200" />
</div>

<div id="maincontent">

    <h3>Registration information</h3>
    <hr>
    <table style="width:100%">
        <tr>
            <th style="width: 16.66%">Course</th>
            <th style="width: 16.66%">First Name</th>
            <th style="width: 16.66%">Last Name</th>
            <th style="width: 16.66%">E-mail</th>
            <th style="width: 16.66%">Phone Number</th>
            <th style="width: 16.66%">Student Number</th>
    </table>
    <hr />
    <table style="width:100%">
        <tr>
            <th style="width: 16.66%">Default</th>
            <th style="width: 16.66%">Default</th>
            <th style="width: 16.66%">Default</th>
            <th style="width: 16.66%">Default</th>
            <th style="width: 16.66%">Default</th>
            <th style="width: 16.66%">Default</th>
    </table>
    <hr>
</div>
