
@{
    Layout = "_Layout";
    ViewData["Title"] = "Display Course";
}

<link href="~/css/Styles.css" rel="stylesheet" />

<div id="sidecontent">
    <img src="~/images/Centennial.PNG" width="200" />
</div>

<div id="maincontent">
    <h2>Thank you for registering!</h2>
</div>

