
@{
    Layout = "_Layout";
    ViewData["Title"] = "Check Course";
}

<div id="sidecontent">
    <img src="~/images/Centennial_A.PNG" width="200" />
</div>

<div id="maincontent">

    <h3>My Course List</h3>
    <hr>
    <table style="width:100%">
        <tr>
            <th style="width: 50%">Course</th>
            <th style="width: 50%">Edit course</th>

        </tr>
    </table>
    <hr />
    <table style="width:100%">
        <tr>
            <td style="width: 50%">This is default! Web Application Development</td>
            <td style="width: 50%">Coming Soon!</td>

        </tr>
    </table>
    <hr>
</div>